.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  min-height: 50px;
  padding: 5px;
  color: white;
}
.App-title {
  font-size: 1.5em;
  text-align: left;
}
.credits{
  text-align: left;
}

/*FORM*/
form{
  background-color: pink;
  padding: 5px;
}
.addBar{
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
}
ul.addBar li{
  display: inline-block;
  margin: 0 5px;
  padding: 0 5px;
}
ul.addBar li textarea{
  border-radius: 5px;
}
textarea{
  height: 4.5vw;
  width: 24.5vw;
}
.updateCardForm{
  background-color: red;
}

/*CARDS*/
.card{
  background-color: whitesmoke;
  /* border: 1px dotted green; */
  border-radius: 5px;
  color: black;
  display: inline-block;
  /* float: */
  margin: 5px 10px 0 10px;
  padding: 5px;
  width: 24.5vw;
  vertical-align: top;
}
.hide{
  height: 0;
  overflow: hidden;
}
.focusCard .hide{
  height: auto;
}
ol, ul{
  margin: 0;
  padding: 10 10;
  text-align: left;
}

/*BUTTONS*/
.button{
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
  filter: brightness(0.7);
}
.button.submit{
  background-color: #00BFFF;
  color: white;
}
.button.delete{
  background-color: #f44336;
  color: white;
}
.button.update{
  background-color: #e7e7e7;
  color: black;
}
